@import url(reset.css);
@import url(variables.css);

body {
	background-color: var(--body-bg-color);
	color: var(--text-color);
	column-gap: 60px;
	display: grid;
	font-size: 14px;
	font-family: var(--font-family);
	grid-template-columns: 25.6% auto;
	padding: 40px;
	height: calc(100vh - 80px);
}

aside{
	display: flex;
	flex-direction: column;
}

main{
	grid-column: 2/3;
}

.card{
	background: var(--bg-cards);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border: 2px solid var(--card-border);
	border-radius: 20px;
	margin: 0 0 30px 0;
}

.title{
	font-size: 20px;
  font-weight: bold;
}

.userImage{
  width: 8rem;
  margin: 2rem 0;
  clip-path: circle();
  border-radius: 100% ;
  border: 3px solid var(--userImage-border);
}

/* @media(min-width: 800px) {
  .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;	
	}
}

@media(min-width: 1200px) {
	.container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
} */
