.skills__tittle{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.skills__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 30px 30px;
}

.skills__itens{
  background: var(--bg-techs);
  border-radius: 30px;
  box-sizing: border-box;
  color: var(--skills-text);
  font-size: 10px;
  max-width: 86px;
  padding: 7px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}